@media screen and (max-width: 865px) {
    
    .s6-container{
        width: 80%;
        
    }

    .s6-info-container{
        width: 100%;
    }

    .s3-box-image{
        width: 50%;
        left : 25%;
        margin-bottom: 2%;
    }
    .h2 .is-small-h2 .text{
        font-size: 30px;
    }
    .team-img{
        width: 200px;
        right: 10%;
    }
}