.whyus{
    margin-bottom: 5%;
    margin-top: 100px;
    .s3-container{
        display:flex;justify-content:center;align-items:center;
        .s3-content{
            text-align:center;
            p{
                width: 95%;
                max-width: 900px;
                font-size:1.5em;
                margin: 0 auto;
                padding-top: 2%;
            }
        }
    }
    .whyusimg{
        width: 100%;
        margin-top: 4%;
        max-width: 1200px;
    }
    
}



.desktop{
    display:block;
}
.tablet{
    display:none;
}
.mobile{
    display:none;
}
@media screen and (max-width: 768px){
    .whyusimg{
        width: 100%;
    }
    .desktop{
        display:none;
    }
    .tablet{
        display:block;
    }
    .mobile{
        display:none;
    }
}

@media screen and (max-width: 425px){
    .desktop{
        display:none;
    }
    .tablet{
        display:none;
    }
    .mobile{
        display:block;
    }
}
 