
.hero-container {
  box-shadow: 0 5px 10px 0 rgba(49, 47, 83, 0.16);
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: left;
  align-items: center;
  object-fit: contain;
  z-index: 1000;
}
.hero-text{
  padding: 40px;
}

.main-heading {
  color: #071330;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: Serif;
  margin-bottom: 5px;
  text-align: left;
}

.sub-heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 5px;
  font-family:  Arial, sans-serif;
    text-align: left;
}


.hero-btns .btn {
  margin: 0px 5px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #071330;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 20px;
  box-shadow: inset 0 0 0 0 #fff;
  transition: 0.8s;
  cursor: pointer;
}


.hero-btns .btn:hover {
  background: #071330;
  box-shadow: inset #071330;
  color: white;
  transition: 0.8s all;
}

.hero-img img{
  width: 300px;
  height: auto;

}

.fa-play-circle {
  margin-left: 4px;
}
@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  
  .hero-container {
    height: auto;
    width: 100%;
    display: flex;
    gap: 0px;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    object-fit: contain;
    z-index: 1000;
  }
  
  .main-heading {
    color: #071330;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Serif;
    margin-bottom: 5px;
    text-align: left;
  }
  .sub-heading {
    font-size: 0.8rem;
    font-weight: 200;
    margin-top: 5px;
    font-family:  Arial, sans-serif;
    text-align: left;
  }
  
  
  .hero-btns .btn {
    margin: 0px 0px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid #071330;
    border-radius: 10px;
    padding: 4px 0px;
    font-size: 10px;
    box-shadow: inset 0 0 0 0 #fff;
    transition: 0.8s;
    cursor: pointer;
  }

  .hero-img {
    display: none;
  
  }
}
