.container{
  background-color: rgba(82,113,255, 0.1);
}

.Token-usecases-main{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    gap: 50px;
    width: 100%;
    padding: 10px 50px;
    align-items: center; 
    
  }

  .Token-usecases-heading{
  text-align: center;
  border-bottom-width: 1px;
  padding: 40px;
  font-family: "quicksand", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #071330;
  }

  .Token-usecases-main img{
    width: 500px;
    height: auto;
  }

  .Sub-heading {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 5px;
    font-family:  Arial, sans-serif;
    text-align: left;
    font-family: georgia,serif;
  }

  @media screen and (max-width: 960px){
    .Token-usecases-main{
      display: flex;
      flex-direction: column;
      justify-items: space-between;
      gap: 5px;
      width: 100%;
      padding: 10px 50px;
      align-items: center; 
      
    }

    .Token-usecases-main img{
      width: 200px;
      height: auto;
    }

    .Token-usecases-heading{
      text-align: center;
      border-bottom-width: 1px;
      padding: 15px;
      font-family: "quicksand", sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      color: #071330;
      }

      .Sub-heading {
        font-size: 0.8rem;
        font-weight: 200;
        margin-top: 5px;
        font-family:  Arial, sans-serif;
        text-align: left;
        font-family: georgia,serif;
      }
  }