.Why-container{
  background-color: rgba(255,222,89, 0.1);
  box-shadow: 0 5px 10px 0 rgba(49, 47, 83, 0.16);
}
.why-main{
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  
}
.Why-heading {
  text-align: center;
  padding-top: 40px;
  font-family: "quicksand", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #071330;
}
.why-main img{
  width: 350px;
  height: auto;
  float: left;
  fill: white;
}
.why-main li{
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 5px;
  font-family:  Arial, sans-serif;
  text-align: left;
  font-family: georgia,serif;
}

@media screen and (max-width: 960px) {
  .why-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
  }

  .why-main img{
    width: 100px;
    height: auto;
    float: left;
    fill: white;
  }

  .Why-heading {
    text-align: center;
    padding-top: 15px;
    font-family: "quicksand", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #071330;
  }
  .why-main ul{
    padding-left: 20px;
  }
  .why-main li{
    font-size: 0.8rem;
    font-weight: 200;
    font-family:  Arial, sans-serif;
    text-align: left;
    font-family: georgia,serif;
    padding: 5px;
    
  }
}